
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a {
  color: #8F3F4B;
  text-decoration: none;
}

  a:hover {
    background-color: #F2EEDB;
  }

body {
  background-color: #AFCCC6;
  font-family: 'Cantarell', sans-serif;
  margin: 0;
  color: #604830;
}

h1 {
  text-shadow: 0 1px 1px gray;
}

#bg-wrapper {
  background: url('./images/bg.png') repeat-y top right;
  overflow: hidden;
  padding-bottom: 20px;
}

#right {
  width: 310px;
  margin-left: 50px;
  padding: 40px 10px 0 0;
  color: #381A36;
}

  #right a {
    color: #F2EEDB;
  }
  
    #right a:hover {
      background: transparent;
      border-bottom: 1px solid #8F3F4B;
    }

#content {
  width: 70%;
}

#main-content {
  margin-left: 50px;
}

h1#page-title {
  -moz-box-shadow: 1px 1px 2px #381A36;
  -webkit-box-shadow: 1px 1px 2px #381A36;
  background: -moz-linear-gradient(center top , #633060, #381A36) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#633060), to(#381A36)) repeat scroll 0 0 transparent;
  -webkit-background-size: 100% 100%;
  background-color: #381A36;
  height: 70px;
  line-height: 70px;
  margin: 40px 0 20px 30px;
  padding: 10px 20px;
  text-shadow: 3px 2px 2px #381A36;
  width: 125%;
  z-index: -100;
  position: relative;
}

  a h1#page-title {
    color: #F2EEDB;
  }
    
    a:hover h1#page-title;{
      color: #F2EEDB;
      background: none;
    }

h1.title,
h1.title a {
  color: #381A36;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

  h1.title a:hover {
    border-bottom: 1px solid #969e5a;
    background: transparent;
  }
  
/* Blocks */

#right h2 {
  -moz-box-shadow: 1px 1px 3px #525444;
  -webkit-box-shadow: 1px 1px 3px #525444;
  background: -moz-linear-gradient(center top , #696c57, #525444) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#696c57), to(#525444)) repeat scroll 0 0 transparent;
  -webkit-background-size: 100% 100%;
  background: #525444;
  color: #969e5a;
  margin-left: -23px;
  margin-top: 0;
  padding: 10px 20px;
  position: relative;
  text-shadow: 4px -2px 2px #525444;
  width: 70%;
}

#right span.shadow {
  border-left: 11px solid transparent;
  border-top: 6px solid #525444;
  height: 0;
  left: 0;
  line-height: 0;
  position: absolute;
  top: 100%;
  width: 0;
}

#right .block,
#right #mission,
#right #site-slogan,
#right #secondary-links {
  margin-bottom: 30px;
}

#right ul {
  margin: 0;
  padding: 0;
}

#right ul li,
#right .item-list ul li {
  list-style-image: url('./images/bullet.gif');
  margin: 0 0 0.25em 1em;
}

#right #mission,
#right #site-slogan {
  font-size: 1.3em;
  color: #633060;
  font-weight: bold;
}

/* Front */

body.front #main-content .node {
  margin-bottom: 50px;
}

/* Nodes */

#main-content .node ul.links li.first {
  padding-left: 0;
}

#main-content ul.primary {
  border: none;
  margin: 20px 5px 5px 0;
  padding: 0;
}

#main-content ul.tabs li a,
#main-content ul.primary li a {
  background-color: #F2EEDB;
  border-color: transparent;
  color: #969e5a;
}

  #main-content ul.tabs li a:hover,
  #main-content ul.primary li a:hover,
  #main-content ul.primary a.active {
    color: #8F3F4B;
  }

#main-content p.date {
  color: #696c57;
}

#main-content p.byline,
#main-content p.date {
  margin: 0;
  font-size: 0.9em;
}

#main-content .post-tools {
  border-bottom: 1px solid #F2EEDB;
  padding: 10px 0;
  text-align: right;
  width: 100%;
}

  #main-content .post-tools a {
    margin-left: 10px;
  }
  
/* Comments, Forms */

.box h2 {
  color: #381A36;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.box .form-item label {
  font-weight: normal;
}

.box input,
.box textarea {
  background-color: #F2EEDB;
  font-family: 'Cantarell', sans-serif;
  color: #381A36;
  border-color: #AFCCC6;
  padding: 3px;
  font-size: 1.1em;
}

.marker, .form-required {
  color: #381A36;
}

.resizable-textarea .grippie {
  background-color: #dfdac0;
  border-color: #eae5cb;
}

input.form-submit {
  font-size: 1.3em;
  margin-right: 25px;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 1px 1px 3px #89a6a0;
  -webkit-box-shadow: 1px 1px 3px #89a6a0;
  background: -moz-linear-gradient(center top , #F2EEDB, #dfdac0) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EEDB), to(#dfdac0)) repeat scroll 0 0 transparent;
  -webkit-background-size: 100% 100%;
  background: #F2EEDB;
}

html.js fieldset.collapsed,
html.js fieldset.collapsible{
  border-color: #F2EEDB;
}

#comments {
  margin-top: 30px;
}

.comment span.new {
  background-color: #F2EEDB;
  border: 1px solid #8F3F4B;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
}

.messages {
  border: 1px solid #F2EEDB;
  padding: 20px;
  font-size: 1.2em;
  margin: 10px 0;
  color: #8F3F4B;
}

.links ul.links {
  border-bottom: 1px solid #F2EEDB;
  padding: 10px 0;
  text-align: right;
  width: 100%;
}

  .links ul.links li.last {
    padding-right: 0;
  }
  
/* Misc */

.profile {
  clear: none;
}

/* Footer */

#footer {
  margin-top: 50px;
  font-size: .8em;
}

/* Primary Links */

#primary-links {
  margin-top: -32px;
  height: 22px;
  background-color: #F2EEDB;
  padding: 5px 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-box-shadow: 1px 0 3px #89a6a0;
  -webkit-box-shadow: 1px 0 3px #89a6a0;
  background: -moz-linear-gradient(center top , #F2EEDB, #dfdac0) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EEDB), to(#dfdac0)) repeat scroll 0 0 transparent;
  -webkit-background-size: 100% 100%;
  background: #F2EEDB repeat scroll 0 0 transparent;
}

  #primary-links li a.active {
    color: #381A36;
  }

  #primary-links li a:hover {
    background-color: transparent;
    color: #969e5a;
  }